<footer class="col-lg-12">
	<div class="col-lg-6"> © 2017 <b>Wendy Marks</b>. All Rights Reserved. </div><div class="col-lg-6" style="text-align:right;"><span style="font-size:.7em;margin-left:2px;padding:3px;">all images <a rel="license" href="http://creativecommons.org/licenses/by/2.0/">Creative Commons Attribution 2.0 Generic License</a> unless otherwise stated</span><a rel="license" href="http://creativecommons.org/licenses/by/2.0/"><span class="icom-creative-commons"></span></a></div>
</footer>
<script src="{{ "/assets/js/jquery-3.2.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/scroll.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>