<header class="header-site col-lg-12 col-md-12 col-sm-12" role="banner">
    <div class="site-title title col-lg-6 col-md-6 col-sm-6">{{site.username}}</div>
        <div style="text-align:left;font-size:1em;text-align:left;" class="site-title col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12">Medical Intuitive, Shamanic Studies, Integrative Therapy</div>
        <div class="col-lg-12 col-md-12 col-sm-12">M.Ed., C.A.S., C.S.S., Fellow APA, Diplomate AAIM, Member ACEP</div>
    </div>
        {% include menu-search.html %}
    </header>
