@font-face{
font-family:'Raleway';src:local('Raleway'),url("../fonts/Raleway/Raleway-Regular.ttf") format('truetype');
font-weight:normal;font-style:normal
}

@font-face{
font-family:'Lora';src:local('Lora'),url("../fonts/Lora/Lora-Regular.ttf") format('truetype');
font-weight:normal;font-style:normal
}



// body{
// font-family:'Lora',sans-serif;font-style:normal
// }