.comments
    center(rem(800px))
    padding 0 rem(20px)
    h3
        margin 0 0 rem(30px)
        font-size rem(30px)

footer
    background main
    // padding rem(25px) 0
    padding 2% 1% 0 1%
    color anno
    mainFont(100)
    // margin-top 100px
    a
        text-decoration none
        mainFont(600)
        color anno
        text-align center
        margin 0
    a:hover
        // color #990000
        color black
        text-decoration none