#wendy
	height:450px
	margin-top:10px
	background-image url("/assets/img/wendy.jpg")
	background-repeat no-repeat
	@media screen and (max-width: 500px)
		height:200px
		background-image url("/assets/img/mob-wendy.jpg")
	@media screen and (min-width: 500px)
		background-position center
		
#lotus
	height:450px
	margin-top:10px
	background-image url("/assets/img/lotus.jpg")
	background-repeat no-repeat
	@media screen and (max-width: 500px)
		height:200px
		background-image url("/assets/img/mob-lotus.jpg")
	@media screen and (min-width: 500px)
		background-position center
				
#freedom
	height:450px
	margin-top:10px
	background-image url("/assets/img/5711616447_a06f45eaac_b.jpg")
	background-repeat no-repeat
	@media screen and (max-width: 500px)
		height:200px
		background-image url("/assets/img/mob-5711616447_a06f45eaac_b.jpg")
	@media screen and (min-width: 500px)
		background-position center				

#services
	height:450px
	margin-top:10px
	background-image url("/assets/img/services.jpg")
	background-repeat no-repeat
	@media screen and (max-width: 500px)
		height:200px
		background-image url("/assets/img/mob-services.jpg")
	@media screen and (min-width: 500px)
		background-position center

#articles_y_interviews
	height:450px
	margin-top:10px
	background-image url("/assets/img/8324558346_fdc5294cb7_o.jpg")
	background-repeat no-repeat
	@media screen and (max-width: 500px)
		height:200px
		background-image url("/assets/img/mob-8324558346_fdc5294cb7_o.jpg")
	@media screen and (min-width: 500px)
		background-position center
		
#speaking
	height:450px
	margin-top:10px
	background-image url("/assets/img/18170940809_c112377698_b.jpg")
	background-repeat no-repeat
	@media screen and (max-width: 500px)
		height:200px
		background-image url("/assets/img/mob-18170940809_c112377698_b.jpg")
	@media screen and (min-width: 500px)
		background-position center
		
#resources
	height:450px
	margin-top:10px
	background-image url("/assets/img/17640811894_1a44e91beb_z.jpg")
	background-repeat no-repeat
	@media screen and (max-width: 500px)
		height:200px
		background-image url("/assets/img/mob-17640811894_1a44e91beb_z.jpg")
	@media screen and (min-width: 500px)
		background-position center
				
#partnership
	height:450px
	margin-top:10px
	background-image url("/assets/img/15007676965_271fab038c_b.jpg")
	background-repeat no-repeat
	@media screen and (max-width: 500px)
		height:200px
		background-image url("/assets/img/mob-15007676965_271fab038c_b.jpg")
	@media screen and (min-width: 500px)
		background-position center