.post-content
    padding 12% 15% 12% 15%
    max-width 100%
    background-color main
    blockquote
        margin rem(4%) auto
            
.divider
    font-size:5em
    text-align:center
    color:purple