// COLORS
//main = #0562DC
main = rgb(241,255,240)
main-alt = #EDFFFF
main-a = #2B425E
hover = darken(main, 50%)
sec  = #FFFFFF
lightGray = #F2F2F2
anno = #848783
texts = #333333
divid = #2B425E
colorcode = #3085F4
// Resolution
cut = 37.5rem
&::selection
    color: white
    background: $background